<h1>Puzzle Game</h1>

<p>Type a word or sentence in and have a friend guess what the original word was
after we take its vowels out</p>

<form action='/output' method='get'>
  <div class="form-group">
    <label for="word-sentence">Word/Sentence</label>
    <input id="word-sentence" name="word-sentence" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Take vowels out!</button>
</form>
